<div class="row">
<div class="large-12 columns text-center" data-magellan-destination="home" id="home">
	<div class="splash-baltimore">
		<div class="small-centered large-10 columns">
			<div class="overlay overlay-first">
				<h2>Baltimore’s Interactive Food Market</h2>
			</div>
		</div>
		<div class="small-centered large-7 columns">
			<div class="overlay">
				<h3>October 2014  &#8226;  Location TBD</h3>
			</div>
		</div>
		<div class="small-centered large-5 columns">
			<div class="overlay">
				<h5>Bringing together Baltimore’s most creative chefs and food purveyors for a weekend pop-up market that also includes a full lineup of culinary workshops and demos.</h5>
			</div>
		</div>
	</div>
</div>
</div>

<div class="row">
<div class="small-centered large-11 columns" data-magellan-destination="discover" id="discover">
	<div class="large-4 columns text-center esl">
		<%= image_tag("eat.png") %>
		<h1>EAT</h1>
		<p>Local chefs and food vendors will serve up new dishes and fan favorites. Each chef will create one brand-new dish for the market.</p>
	</div>
	<div class="large-4 columns text-center esl">
		<%= image_tag("shop.png") %>
		<h1>SHOP</h1>
		<p>Discover and buy artisan food products from Baltimore food entrepreneurs. Good food is being made across the city and region - from snacks to spreads  - and we’re bringing it together in one tasty market.</p>
	</div>
	<div class="large-4 columns text-center esl">
		<%= image_tag("learn.png") %>
		<h1>LEARN</h1>
		<p>The demo and workshop stage is the place to learn skills, tricks and recipes from the experts: cocktail mixing, oyster shucking, molecular gastronomy, or knife skills - whether you’re a professional chef or just learning to boil water.</p>
	</div>
</div>
</div>

<div class="row">
<div class="large-12 columns text-center">
	<div class="splash-sails">
		<div class="small-centered large-8 columns">
			<div class="overlay overlay-first">
				<h2>Put some wind in our sails</h2>
			</div>
		</div>
		<div class="small-centered large-7 columns">
			<div class="overlay">
				<h3>Donate to the Kickstarter</h3>
			</div>
		</div>
	</div>
</div>
</div>

<div class="row">
<div class="small-centered large-5 columns copy" data-magellan-destination="contact" id="contact">
	<h1>Contact Us</h1>
	<form>
		<fieldset>

		<label>Name
     			<input type="text" placeholder="Name">
		</label>

		<label>Email
     			<input type="text" placeholder="Email">
		</label>
  		</fieldset>
	</form>
</div>
</div>

<div class="t"></div>