// Foundation Variables

@import url('//fonts.googleapis.com/css?family=Open+Sans:400italic,300italic,700');
@import url('//fonts.googleapis.com/css?family=Josefin+Sans:300,700');
$header-font-family: "Open Sans", sans-serif !default;
$header-font-weight: normal;
$paragraph-font-family: "Open Sans", sans-serif !default;
$topbar-link-font-family: "Open Sans", sans-serif !default;
$button-font-family:  "Open Sans", sans-serif !default;
$input-font-family: "Open Sans", sans-serif !default;
$button-font-weight: normal;
$topbar-link-weight: normal;
$topbar-title-weight: bold;
$topbar-height: 55px;
$topbar-bg: #DFE1E0;
$column-gutter: rem-calc(0);
$primary-color: #131618 !default;
$header-font-color: $primary-color;

$reveal-default-width: 50%;
$reveal-overlay-bg: rgba(#000, .75);

$black: #131618;
$white: #DFE1E0;
$green: #476E45;
$yellow: #D39F43;
$red: #BF4846;


// Import framework
@import "foundation";
@import 'foundation-icons';

form { font-family: "Open Sans", sans-serif !important; }
.form-item { display:inline-block; }
.field_with_errors { display: inline; }
.alert-box {
	text-align:center;
	font-weight:bold;
	text-transform:uppercase;
}

div {
	max-width:2000px;
}

div.row {
	max-width:2000px;
}


@media only screen and (min-width: 768px) {
	[data-magellan-expedition], [data-magellan-expedition-clone] {
		background:white;
	}

	div.desktop-nav {
		padding-top:0;
		padding-bottom:0;
	}

	div.desktop-nav nav.top-bar	{
		background:white !important;
	}

	div.desktop-nav nav.top-bar a {
		background:white !important;
		font-weight:normal;
		font-style:italic;
	}

	div.desktop-nav li {
		display:inline-block;
		position:relative;
	}

	div.desktop-nav li a {
		font-size: rem-calc(20);
		text-transform:uppercase;
		color: $primary-color;
	}

	div.desktop-nav ul.right li a {
		font-size: rem-calc(30);
	}

	div.desktop-nav li.active > a {
		color: $primary-color !important;
		background: white;
	}

	div.desktop-nav li:hover > a {
		color: $primary-color !important;
		background: white;
	}

	div.desktop-nav li a:before {
		content: '';
		display: block;
		position: absolute;
		left: 10%;
		bottom: 0;
		width:80%;
		height:0px;
		background: $black;
		-webkit-transition: height .4s;
		-moz-transition: height .4s;
		-ms-transition: height .4s;
		-o-transition: height .4s;
		transition: height .4s
	}

	div.desktop-nav li a:hover:before {
		height: 3px;
	}

	div.desktop-nav li.active a:before {
		height: 3px;
	}

	.splash-ingredients {
		height:650px;
	}

	.splash-sandwich {
		height:400px;
	}

	.dark h1 {
		padding-top: rem-calc(20);
		font-size: rem-calc(60);
	}

	.light h1 {
		padding-top: rem-calc(20);
		font-size: rem-calc(60);
	}

	.dark h4 {
		font-size: rem-calc(22);
	}

	.light h4 {
		font-size: rem-calc(22);
	}
	
	.esl {
		padding:40px 10px 10px 10px;
	}

	esl h1 {
		padding-top:30px;
		font-size: rem-calc(70);
	}
	.esl p {
		font-size: rem-calc(18);
		padding:10px;
	}
	div .press {
		height:210px !important;
	}
	div .social {
		height:110px !important;
	}
	.press-logo {
		width:400px !important;
		height:200px !important;
	}
	.press-logo:hover {
		background-position:-400px;
	}
	#huffpo {
		background-image: url(../images/huffpo_sprite.png);
	}

	#vfa {
		background-image: url(../images/vfa_sprite.png);
	}

	#technically {
		background-image: url(../images/technically_sprite.png);
	}
}

@media only screen and (max-width: 767px) {
	.splash-ingredients {
		height:500px;
	}

	.splash-sandwich {
		height:200px;
	}

	div.dark img {
		padding-top:20px;
	}

	h1 {
		font-size:rem-calc(20);
	}

	h4 {
		font-size: rem-calc(15);
		padding: 0 10px;
	}

	.dark h4 {
		padding-bottom:20px;
	}

	.esl img {
		width:150px;
	}
	.esl h1 {
		font-size:rem-calc(28);
		margin-bottom:3.2px;
		padding-top:5px;
	}
	.esl img:first-of-type {
		padding-top:20px;
	}
	.esl p {
		font-size:rem-calc(15);
		padding: 0 10px;
	}
	div .press {
		height:330px !important;
	}
	div .social {
		height:180px !important;
	}
	.light h1:first-of-type {
		padding-top:20px;
	}
	.reveal-modal {
		min-height:0;
	}
	.press-logo {
		width:200px !important;
		height:100px !important;
	}
	.press-logo:hover {
		background-position:-200px;
	}
	#huffpo {
		background-image: url(../images/huffpo_sprite_mobile.png);
	}

	#vfa {
		background-image: url(../images/vfa_sprite_mobile.png);
	}

	#technically {
		background-image: url(../images/technically_sprite_mobile.png);
	}
	input.button  {
		width: 200px;
	}
}

.row {
	margin:0;
	width:100%;
	max-width:1600px;
}

.splash-ingredients {
	background-image: url('../images/ingredients_without_logo.jpg');
	background-repeat:no-repeat;
	background-position: center center;
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.splash-sandwich {
	background-image: url('../images/sandwich.jpg');
	background-repeat:no-repeat;
	background-position: center center;
	background-size:cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
}

.logo {
	position:relative;
	padding-top:100px;
}

h1 {
	font-family: "Josefin Sans";
	font-weight:normal;
}

h4 {
	font-weight:300;
	font-style: italic;
}

.button {
	font-weight:normal;
	font-style:italic;
	width:rem-calc(300);
	border-width:2px;
	border-style:solid;
}

.button.light {
	margin-top:50px;
	background-color: $black;
	border: 0;
	width:100%;
	font-size:rem-calc(20);
}

.button.light:hover {
	background-color: $white;
	border: 0;
	color:$black;
}

.button.light-body {
	margin-top:25px;
	background-color: $black;
	border-color: $white;
}

.button.light-body:hover {
	background-color: $white;
	border: 2px solid $black;
	color:$black;
}

.light h4 {
	padding-bottom:rem-calc(20);
}

div .dark {
	background-color: $black;
	color: $white;
}

.dark h1 {
	color: $white;
}

.dark h4 {
	color: $white;
}

.dark h4 a {
	color:grey;
	-webkit-transition: color .4s;
	-moz-transition: color .4s;
	-ms-transition: color .4s;
	-o-transition: color .4s;
	transition: color .4s
}

.dark h4 a:hover {
	color:$white;
}

.reveal-modal h4 {
	padding-bottom:rem-calc(20);
}

input.button {
	color:$black;
	border-color:$black;
	background-color:white;
} 

input {
	font-weight: normal;
	font-style:italic;
}

::-webkit-input-placeholder {
	font-weight: normal;
	font-style:italic;
}

:-moz-placeholder {
	font-weight: normal;
	font-style:italic;
}

::-moz-placeholder {
	font-weight: normal;
	font-style:italic;
}

:-ms-input-placeholder {  
	font-weight: normal;
	font-style:italic;
}

.button.dark i {
	font-size:rem-calc(20);
}

.button.dark {
	background-color: $black;
	border-color:$white;
}

.button.dark:hover {
	background-color: $white;
	border-color:$black;
	color:$black;
}

.button.dark.red {
	background-color: $black;
	border-color:$red;
	color:$red;
}

.button.dark.red:hover {
	background-color: $red;
	border-color:$black;
	color:$black;
}

.button.dark.green {
	background-color: $black;
	border-color:$green;
	color:$green;
}

.button.dark.green:hover {
	background-color: $green;
	border-color:$black;
	color:$black;
}

.button.dark.yellow {
	background-color: $black;
	border-color:$yellow;
	color:$yellow;
}

.button.dark.yellow:hover {
	background-color: $yellow;
	border-color:$black;
	color:$black;
}

.esl h1 {
	font-weight:bold;
}

.esl h1.eat {
	color:$green;
}

.esl h1.shop {
	color:$red;
}

.esl h1.learn {
	color:$yellow;
}

.esl p {
	text-align: justify;
	font-style:italic;
}

.press-logo {
	display: inline-block !important;
	background-repeat: no-repeat;
}

.alert-box {
	margin-bottom:0;
}

.alert-box.error {
	background:#EB3F34;
	border: #EB3F34;
}