<div class="desktop-nav show-for-large-up" data-magellan-expedition="fixed">
	<nav class="top-bar" data-topbar>
		<section class="top-bar-section">
			<!-- Right Nav Section -->
			<ul class="right">
				<li><a href="https://www.facebook.com/ClipperCityMarket" target="_blank"><i class="fi-social-facebook"></i></a> </li>
				<li><a href="https://twitter.com/ClipperCityMrkt" target="_blank"><i class="fi-social-twitter"></i></a> </li>
			</ul>

			<!-- Left Nav Section -->
			<ul class="left">
				<li data-magellan-arrival="home"><a href="#home" >Home</a></li>
				<li data-magellan-arrival="press"><a href="#press">Press</a></li>
				<li data-magellan-arrival="vendors"><a href="#vendors">Vendors</a></li>
			</ul>
		</section>
	</nav>
</div>