<div class="desktop-nav show-for-large-up" data-magellan-expedition="fixed">
	<nav class="top-bar" data-topbar>
		<ul class="title-area">
			<li class="name">
				<%= image_tag("logo.png") %>
			</li>
			 <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
			<li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
		</ul>

		<section class="top-bar-section">
			<!-- Right Nav Section -->
			<ul class="right">
				<li><a href="https://www.facebook.com/ClipperCityMarket" target="_blank"><i class="fi-social-facebook"></i></a> </li>
				<li><a href="https://twitter.com/ClipperCityMrkt" target="_blank"><i class="fi-social-twitter"></i></a> </li>
			</ul>

			<!-- Left Nav Section -->
			<ul class="left">
				<li data-magellan-arrival="home"><a href="#home" >Home</a></li>
				<li data-magellan-arrival="discover"><a href="#discover">Discover</a></li>
				<li data-magellan-arrival="contact"><a href="#contact">Contact</a></li>
			</ul>
		</section>
	</nav>
</div>